/* styles.css */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500&display=swap');

:root {
  --app-width: 1000px;
  --blue-light: #2a5db0;
  --blue-dark: #224c8f;
  --green: #4caf50;
  --black-dark: #2b2b2c;
  --black-light: #3b3b3c;
  --shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

body {
  font-family: 'Noto Sans', sans-serif;
}

main {
  max-width: var(--app-width);
  min-height: calc(100vh - 124px);
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: inherit;
}

.btn {
  box-shadow: none !important;
}

.btn-width {
  width: 10rem !important;
}

.toggle {
  margin: 0;
  height: 1.5em !important;
  width: 5em !important;
  cursor: pointer;
}

.badge {
  font-weight: inherit;
}

.badge.btn-badge {
  line-height: 1.25;
  width: 7em;
}

.form-check {
  margin: 0;
}

.shadow {
  box-shadow: var(--shadow);
}

.form-check-input, .btn {
  cursor: pointer;
  transition: background-color 200ms ease-in-out, background-position 200ms ease-in-out !important;
}

.accent, .form-check-input:checked {
  background-color: var(--blue-dark) !important;
  border-color: var(--blue-dark) !important;
  color: white !important;
}

button.accent:hover, .hg-button:hover, .form-check-input:checked:hover {
  background-color: var(--blue-light) !important;
  border-color: var(--blue-light) !important;
  color: white !important;
}

.black {
  background-color: var(--black-dark) !important;
  border-color: var(--black-dark) !important;
  color: white !important;
}

button.black:hover {
  background-color: var(--black-light) !important;
  border-color: var(--black-light) !important;
  color: white !important;
}

.hg-button {
  height: 45px !important;
  transition: transform 200ms ease-in-out;
}

.hg-button:hover {
  transform: scale(1.5);
  z-index: 1000;
}

.no-exp:hover {
  transform: none !important;
}

.notification {
	position: absolute;
	bottom: 64px;
	right: 8px;
	width: 250px;
	padding: 20px;
	border-radius: 4px;
	background-color: var(--black-dark);
	color: white;
	box-shadow: var(--shadow);
	transform: translateY(32px);
	opacity: 0;
	visibility: hidden;
  transition: all 250ms ease-in-out;
}

.notification.notification-show {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

.notification.notification-show .notification-load {
	position: absolute;
	left: 5px;
	bottom: 5px;
	width: calc(100% - 10px);
	height: 3px;
	transform: scaleX(0);
	transform-origin: left;
	background-color: var(--green);
	border-radius: inherit;
	animation: load 4s 0.25s linear forwards;
}

@keyframes load {
	to {
		transform: scaleX(1);
	}
}


